@model EmployeeManagementSystem.Models.DashboardStats

<h2 class="mb-4">
    Dashboard
</h2>

<div class="row g-4">

    <div class="col-md-3">

        <div class="card shadow border-primary">

            <div class="card-body text-center">

                <h1>@Model.TotalEmployees</h1>

                <h5>Total Employees</h5>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow border-success">

            <div class="card-body text-center">

                <h1>@Model.ActiveEmployees</h1>

                <h5>Active Employees</h5>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow border-danger">

            <div class="card-body text-center">

                <h1>@Model.InactiveEmployees</h1>

                <h5>Inactive Employees</h5>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow border-warning">

            <div class="card-body text-center">

                <h1>@Model.TotalDepartments</h1>

                <h5>Departments</h5>

            </div>

        </div>

    </div>

</div>